@use "../assets/styles/mixin"as*;

.wrapper {
    display: flex;
    flex-direction: column;
    // position: relative;
    // overflow: clip;
    
    // .wrapper__page

    &__page {
        flex-grow: 1;
        height: 100%;
        // padding-top: 50px;
    }
}

.sticky{
position: sticky;
top: 0;
left: 0;
}



